$susy: (
  gutters: 40px/80px,
);

@import 'bourbon';
@import 'susy';
@import 'breakpoint';

@import 'govuk/$variables';
@import 'govuk/$colours';
@import 'govuk/@mixins';

@import 'govuk/%common';

@import 'govuk/fonts';
@import 'govuk/typography';

@import 'govuk/elements';

@import 'govuk/utilities';


.featured-news {
  @include container(960px);
}

.feature {
  margin-bottom: gutter(12);
  font-family: nta, 'Helvetica Neue', Arial, sans-serif;
}
