@import "govuk";
@import "moj";

img {
  max-width: 100%;
}

.example {
  border: 1px solid $grey-2;
  padding: 60px 30px 30px;
  position: relative;
  margin-bottom: 45px;

  &::before {
    @include position(absolute, 0px null null 0px);
    padding: 5px 10px;
    background: $grey-2;
    content: 'EXAMPLE';
    font-size: 14px;
    color: white;
  }
}

[class|='column'] p {
  min-height: 60px;
  background-image: url(http://govuk-elements.herokuapp.com/public/images/examples/grid.png);
  text-indent: -999em;
  margin: 0;
}
