$images-dir: 'images/';

@import 'govuk';

$susy: (
  gutters: 40px/80px,
  gutter-position: after,
);

@import 'mod';

.featured-news {
  @include container(960px);
}

.feature {
  margin-bottom: gutter(12);
  font-family: nta, 'Helvetica Neue', Arial, sans-serif;
}
