---
title: Errors and validation
nav_order: 8
stylesheet: styles/styles
---

markdown:
  Summarise validation errors in a box at the top of your page. Use jump links in the summary box to reach the errors in the form.

  Ensure error messages make sense when read by screen readers.

  ### Form validation

  use a red border on the box to visually connect the errors and messages in the form
  apply the same colour to the area of the form where an error has occurred
  error copy should be specific to the question and validation should identify all errors
  errors should not cause pre-filled fields to clear
