---
title: Headers
stylesheet: styles/styles, styles/layout
nav_order: 5
isolation_styles: >
  body { margin: 0 }
---

h3 Global header
= model
  / = partial 'partials/global_header', locals: { name: 'A Government Serice' }

h3 Global header with phase banner
= model 'header-subheader'
  / = partial 'partials/global_header', locals: { name: 'A Government Serice' }
  / = partial 'partials/global_subheader', locals: { phase: 'alpha' }
