---
title: Alpha and beta banners
nav_order:
stylesheet: styles/styles, styles/layout
nav_order: 9
---

markdown:
  You have to use an alpha banner if your thing is in alpha, and a beta banner if it’s in beta.

  ### Things on the service.gov.uk subdomain

  If your service is in beta or alpha, you must show the relevant banner in the header. It should sit directly underneath the black GOV.UK header and colour bar.

= model
  = partial 'partials/global_subheader', locals: { phase: 'alpha' }

= model
  = partial 'partials/global_subheader', locals: { phase: 'beta' }

markdown:
  ### Things on GOV.UK

  If your GOV.UK content is in beta or alpha, show the relevant banner below the page title, but above the body content. You can see what they should look like in this [blog post](https://designnotes.blog.gov.uk/2014/03/26/betas-on-gov-uk/).
